#full-page {
      background-image: url(/Assets/Images/moroccan-flower.png);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
}

#content-box {
    background-color: black;
}

footer {
    position: fixed;
    bottom: 0;
    margin: 0;
}